:root {
  --primaryColor: white;
  --accentColor: black;
  --optionsContrastColor: #f3f3f399;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor: #171717;
    --accentColor: white;
    --optionsContrastColor: #f3f3f399;
  }
}
html {
    font-size: 4vw;
    color: var(--accentColor);
    background-color: var(--primaryColor);
}
#blocker {
    height: 500px;
    margin-top: -500px;
    border-bottom: none;
}
a {
    font-size: 4vw;
}
button {
    min-width: 50px;f
    min-height: 50px;
    width: 30%;
}
body {
    overflow-x: hidden;
    margin: 0;
}
#stage {
    width: 100%;
    height: 97vw;
    overflow: hidden;
}
#content {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1.5vw;
}
.heading {
    border-bottom: solid var(--accentColor);
    background-color: var(--primaryColor);
    width: 100%;
    z-index: 47;
}
.heading2 {
    border-bottom: solid var(--primaryColor);
    background-color: var(--primaryColor);
    width: 100%;
}
.heading2 i {
    color: var(--primaryColor);
}
.heading2 h5 {
    color: var(--primaryColor);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.caption p {
    margin-top: 0px;   
}
.popup {
    overflow: scroll;
}
.stickyFoot {
    position: fixed;
    bottom: 0;
}
#footer {
    background-color: var(--primaryColor);
    width: 100%;
    padding-top: 1.5vw;
    z-index: 47;
}
#footer i {
    font-size: 15vw;
    padding-top: 0.5%;
    padding-bottom: 1vh;
}
#footer2 {
    background-color: var(--primaryColor);
    width: 100%;
    padding-top: 2vw;
}
#footer2 i {
    font-size: 15vw;
    padding-top: 0.5%;
    color: var(--primaryColor);
    padding-bottom: 1vh;
}
a {
    color: var(--accentColor);
}
.footerSubDivide {
    width: 50%;
    text-align: center;
}
.left {
    border-top: solid var(--primaryColor);
    float: left;
}
.right {
    border-top: solid var(--primaryColor);
    margin-left: 50%;
}
.footerLink {
    border-top: solid var(--accentColor);
}
.footerLinkL {
    border-right: solid var(--accentColor);
    border-radius: 0px 5vw 0px 0px;
}
.footerLinkR {
    border-left: solid var(--accentColor);
    border-radius: 5vw 0px 0px 0px;
}
select {
  display: inline-block;
}
#selectText {
  display: inline-block;
  margin-top: 0px;
  text-align: center;
}
#selectTextFilt {
  display: inline-block;
  margin-top: 0px;
  text-align: center;
}
#cameraContent {
    margin-top: 5px;
}
#player {
    display: block;
}
#capture {
    font-size: 25vw;
}
#upload {
    font-size: 20vw;
}
#download {
    font-size: 14vw;
}
.icon {
    font-size: 15vw;
}
#takeButtons {
    text-align: center;
}
#uploadButtons {
    text-align: center;
}
.capLeft {
    width: 80%; 
    display: inline-block;
    text-align: left;
}
.capRight {
     width: 19%;
    display: inline-block;
    text-align: right;
}
.fa-heart {
    padding-right: 1.5vw;
}
#locationSpan {
    padding-right: 1.5vw;
}
#sortDiv {
    display: none;
}
.thirds {
    width: 30%;
    display: inline-block;
    text-align: center;
}
.loader {
  border: 2vw solid var(--optionsContrastColor);
  border-radius: 50vw;
  border-top: 2vw solid var(--accentColor);
  width: 10vw;
  height: 10vw;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overlay {
  position: absolute;
  top: 50vw;
  left: 45vw;
  z-index: 100;
  margin: auto;
}
img {
  background-color: var(--accentColor);
}
#cameraContent {
    background-color: var(--accentColor);
}
#header {
    padding-top: 20%;
    margin-top: -20%;
}
.headerDiv {
    display: inline-block;
}
#headerDivMain {
    width: 65%;
    margin-left: 0%;
}
#settingsIcon {
    margin-right: 15%;
}
#leftIcon {
    margin-left: 3%;
    width: 14%;
}
#rightIcon {
    width: 14%;
}
.headerIcon {
    font-size: 6vw;
}
#mileRange {
    width: 69.9%;
    margin-right: 2vw;
}
#zoomRange {
    width: 95%;
    background-color: var(--primaryColor);
}
#playerHolder {
    width: 100%;
}
#filtersDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    width: 90%;
    margin-top: 3%;
    margin-left: 3%;
    z-index: 1000;
}
#selectDiv {
    text-align: center;
}
#filterContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: scroll;
}
#filterTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor);
}
#flagDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    width: 90%;
    margin-top: 3%;
    margin-left: 3%;
    z-index: 1000;
}
#flagEmail {
    text-align: center;
}
#flagContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: scroll;
}
#flagContent p {
    font-size: 4.5vw;
    color: var(--accentColor);
}
#flagContent button {
    font-size: 3.5vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    color: var(--accentColor);
}
#flagContent select {
    font-size: 3vw;
    width: 40vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    color: var(--accentColor);
}
#flagContent input {
    font-size: 3.5vw;
    width: 48vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    color: var(--accentColor);
    text-align: center;
}
#flagTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor);
}
#settingsTitle {
    display: inline;
    padding-right: 73%;
    font-size: 6vw;
}
#flagTitle {
    display: inline;
    padding-right: 66%;
    font-size: 6vw;
}
#xButton {
    text-align: right;
    display: inline;
    font-size: 6vw;
}
#filterContent p {
    font-size: 5vw;
    margin-bottom: 0px;
}
#guidelinesDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    width: 90%;
    margin-top: 3%;
    margin-left: 2%;
    z-index: 1000;
}
#guidelinesContent {
    width: 95%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: scroll;
}
#guidelinesTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor);
}
#guidelinesTitle {
    display: inline;
    padding-right: 64%;
}
#guidelinesContent p {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 0px;
}
#guidelinesContent a {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 0px;
}
#guidlinesList {
    padding-left: 5vw;
    width: 75vw;
}
#aboutDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    width: 90%;
    margin-top: 3%;
    margin-left: 2%;
    z-index: 1000;
}
#aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: scroll;
}
#aboutTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor);
}
#welcomeDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    width: 90%;
    margin-top: 3%;
    margin-left: 2%;
    z-index: 1000;
}
#welcomeContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: scroll;
    text-align: center;
    font-size: 4.5vw;
}
#welcomeTitleDiv {
    padding-left: 2%;
    border-bottom: solid var(--accentColor);
    max-width: 100%;
    overflow: hidden;
}
#loginDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    width: 90%;
    margin-top: 3%;
    margin-left: 2%;
    z-index: 1000;
}
#loginContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: scroll;
}
#loginTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor);
}
#aboutTitle {
    display: inline;
    padding-right: 77%;
    font-size: 6vw;
}
#welcomeBody {
    margin: 0px 0px 0px 0px;
}
#welcomeTitle {
    display: inline;
    padding-right: 22vw;
    font-size: 6vw;
}
#loginTitle {
    display: inline;
    padding-right: 71%;
    font-size: 6vw;
}
#aboutContent p {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 0px;
}
#loginDiv p {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.loginButton {
    text-decoration: underline;
}
#loginDiv input {
    width: 50%;
    font-size: 5vw;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 1vw;
}
#blockDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    width: 90%;
    margin-top: 3%;
    margin-left: 3%;
    z-index: 1000;
}
#blockEmail {
    text-align: center;
}
#blockContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: scroll;
}
#blockContent p {
    font-size: 4.5vw;
    color: var(--accentColor);
    text-align: center;
}
#blockContent button {
    font-size: 3.5vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    color: var(--accentColor);
}
#blockContent select {
    font-size: 3vw;
    width: 40vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    color: var(--accentColor);
}
#blockContent input {
    font-size: 3.5vw;
    width: 48vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor);
    color: var(--accentColor);
    text-align: center;
}
#blockTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor);
}
#blockTitle {
    display: inline;
    padding-right: 62%;
    font-size: 6vw;
}
#selectblockText {
    text-align: center;
}
.fieldButton {
    font-size: 5vw;
    width: 50%;
    margin-left: 25%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 1vw;
}
.accountButtons {
    font-size: 4vw;
    width: 50%;
    margin-left: 25%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 1vw;
}
#welcomeButton {
    font-size: 4vw;
    width: 50%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 1vw;
}
.buttonLeft {
    font-size: 5vw;
    width: 40%;
    margin-left: 9%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 1vw;
}
.buttonRight {
    font-size: 5vw;
    width: 40%;
    margin-left: 2.5%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 1vw;
}
#sort {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.5vw;
    font-size: 4vw;
}
#sortFilt {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.5vw;
    font-size: 4vw;
}
option:hover {
    color: var(--primaryColor);
    background-color: var(--accentColor);
    border: solid var(--primaryColor) 0.5vw;
    font-size: 4vw;
}
option {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.5vw;
    font-size: 4vw;
}
#milesDisplay {
    font-size: 5vw;
}
#mileRange {
    background-color: var(--primaryColor);
}
input[type="range"] {
  --thumbSize: 7vw;
  --trackSize: 2.5vw;
  --thumbBg: var(--primaryColor);
  --trackBg: var(--optionsContrastColor);
  --progressBg: var(--accentColor);

  /* webkit progress workaround */
  --webkitProgressPercent: 0%;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* height: var(--thumbSize); */
  width: 100%;
  margin: 0;
  padding: 0;
}
input[type="range"]:focus {
  outline: none;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: 1vw solid var(--accentColor);
  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: 2vw solid var(--accentColor);
  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: 2vw solid var(--accentColor);
  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  height: var(--trackSize);
  background-image: linear-gradient(
    90deg,
    var(--progressBg) var(--webkitProgressPercent),
    var(--trackBg) var(--webkitProgressPercent)
  );
  border-radius: calc(var(--trackSize) / 2);
}
input[type="range"]::-moz-range-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}
input[type="range"]::-ms-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}

/* Progress */
input[type="range"]::-moz-range-progress {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
input[type="range"]::-ms-fill-lower {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
.date {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    font-size: 2.5vw;
    width: 33%;
    border: var(--accentColor) solid 0.5vw;
}
.dateSelect {
    display: inline;
}
.contentText {
    text-align: center;
}
#guidelineFooterText {
    text-align: center;
    margin: 4vw 0 0.5vw 0;
    font-size: 3.5vw;
}
.flagButtons {
    width: 30%;
    margin-left: 12.5%;
}
#blockButton {
    width: 50%;
    margin-left: 25%;
}
#email {
    width: 50%;
}
#cancelFlag {
    /* padding-bottom: 1vw; */
}
#flag {
    /*padding-top: 2.5vw; */
}
#selectFlagText {
    text-align: center;
}
#forgotPassLink {
    text-decoration: underline;
}
#unameNew {
    width: 47% !important;
}
#postUser {
    text-align: right;
}
    #item {
      --scale-value: 1;

      width: 20vw;
      height: 20vw;
      background-color: var(--primaryColor);
      border: 2vw solid var(--accentColor);
      border-radius: 50%;
      transform: scale3d(var(--scale-value), var(--scale-value), 1);
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
    }
    #item:active {
      border-color: var(--accentColor);
      background-color: grey;
    }
    #item:hover {
      cursor: pointer;
    }
#cancelDelete {
    margin-top: 6vw;
}
#deleteSlider {
    width: 100% !important;
    border: none !important;
}