:root {
    --primaryColor: white;
    --accentColor: black;
    --optionsContrastColor: #f3f3f350;
    --overlayContrast: #FAFAFA;
    --primaryColorFifty: rgb(255 255 255 / 50%);
    --primaryColorHunnid: rgb(255 255 255 / 100%);
    --shadowColor: #555555;
    --loadColor: #555555;
    --footShadow: black;
    --setBG: white;
    --setCL: black;
    --boxShadowV1: 1.5vw;
    --boxShadowV2: 0.1vw;
    --feedColor: white;
    --outlineColor: white;
    --overlayText: white;
    --borderContrast: black;
    --postText: black;
    --postBG: white;
    --postBorder: black;
    --userTextShadow: white;
    --imgBorder: white;
}
@media (prefers-color-scheme: dark) {
  :root {
      --imgBorder: white;
      --userTextShadow: #171717;
      --postBG: #1D1D1D;
    --postText: white;
        --loadColor: #555555;
    --postBorder: white;
    --borderContrast: white;
    --primaryColor: #171717;
    --accentColor: white;
    --optionsContrastColor: #f3f3f399;
    --overlayContrast: #FAFAFA;
  --primaryColorFifty: rgb(255 255 255 / 50%);
  --primaryColorHunnid: rgb(255 255 255 / 100%);
    --shadowColor: black;
    --footShadow: white;
    --setBG: var(--primaryColor);
    --setCL: var(--accentColor);
    /*--overlayText: white;*/
    /*--outlineColor: rgb(13 13 13 / 50%);*/
    --boxShadowV1: 3.1vw;
    --boxShadowV2: 1vw;
    --feedColor: #171717;
    --outlineColor: white;
    --overlayText: #171717;
  }
}
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*      --setBG: black;*/
/*      --setCL: white;*/
/*  }*/
/*}*/
@font-face { font-family: font; src: url('Helvetica.ttf'); }
@font-face { font-family: title; src: url('times new roman bold.ttf'); }
html {
    font-size: 4vw;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    /*font-family: font;*/
    font-family: title;
}
#html {
    overflow: auto;
}
#blocker {
    height: 500px;
    margin-top: -500px;
    border-bottom: none;
    z-index: 200000;
}
a {
    font-size: 4vw;
}
button {
    width: 30%;
    border-radius: 6vw;
}
body {
    overflow-x: hidden;
    margin: 0;
}
#stage {
    width: 100%;
    overflow: hidden;
    background-color: var(--postBG);
    border-radius: 4vw;
    overflow: hidden;
    height: 89vw;
}
#content {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    font-family: font;
    position: relative;
}
.heading {
    border-bottom: solid var(--setCL) 0.3vw;
    background-color: var(--setBG);
    color: var(--setCL);
    width: 100%;
    z-index: 47;
}
.heading2 {
    border-bottom: solid var(--primaryColor) 0.3vw;
    background-color: var(--primaryColor);
    width: 100%;
    padding-bottom: 2%;
}
.heading2 i {
    color: var(--primaryColor);
}
.heading2 h5 {
    color: var(--primaryColor);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.caption p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.caption {
    /* box-shadow: 0px 6vw 3vw 9vw var(--primaryColorFifty); */
    padding: 2vw;
    width: 95%;
    padding-left: 2.5%;
    margin-bottom: -1%;
    padding-top: 0.5%;
    font-size: 3.5vw;
    margin-top: -1%;
    padding-bottom: 1.5vw;
    background-color: var(--postBG);
    border-radius: 0vw 0vw 4vw 4vw;
    /* background-color: var(--primaryColorFifty); */
    color: var(--postText);
    z-index: 10;
    margin-bottom: -0.5%;
    position: relative;
    /* text-shadow: 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor),1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor); */
    /* -webkit-font-smoothing: antialiased; */
}
.popup {
    overflow: auto;
    z-index: 20000;
    border-radius: 3vw;
    box-shadow: 0px 0px 3.5vw 0.1vw var(--shadowColor);
    background-color: var(--feedColor);
    overflow-x: hidden;
}
.stickyFoot {
    position: fixed;
    bottom: 0;
}
#footer {
    box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);
    background-color: var(--setBG);
    color: var(--setCL);
    width: 80%;
    margin-left: 8.5%;
    /* margin-bottom: 1.5%; */
    margin-bottom: 1%;
    z-index: 200000;
    border-radius: 8vw 8vw 8vw 8vw;
    /* margin-bottom: -10vw; */
    /* height: 24vw; */
    padding: 1%;
    padding-right: 2%;
    margin-bottom: 4vw;
    /* box-shadow: 0px 0px var(--boxShadowV1) var(--boxShadowV2) var(--shadowColor); */
    border: solid var(--accentColor) 0.3vw;
}
#footer i {
    font-size: 9vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    /*color: var(--setCL);*/
}
#footer2 {
    background-color: var(--primaryColor);
    width: 75%;
    margin-left: 11.5%;
    /* margin-bottom: 1.5%; */
    margin-bottom: 1%;
    z-index: 200000;
    border-radius: 8vw 8vw 8vw 8vw;
    /* margin-bottom: -10vw; */
    /* height: 24vw; */
    margin-bottom: 4vw;
    padding-left: 2%;
    padding-right: 2%;
}
#footer2 i {
    font-size: 15vw;
    padding-top: 0.5%;
    color: var(--primaryColor);
    padding-bottom: 1vw;
}
a {
    color: var(--accentColor);
}
.footerSubDivide {
    width: 50%;
    text-align: center;
    border-radius: 9vw;
    background-color: var(--primaryColor);
    color: var(--primaryColor);
}
.left {
    /*border-top: solid var(--primaryColor) 0.3vw;*/
    padding-top: 0.3vw;
    float: left;
    border: solid var(--setCL) 0.3vw;
    border-radius: 10vw 5vw 5vw 10vw;
}
.right {
    /*border-top: solid var(--primaryColor) 0.3vw;*/
    padding-top: 0.3vw;
    margin-left: 50%;
    border: solid var(--setCL) 0.3vw;
    border-radius: 5vw 10vw 10vw 5vw;
}
.footerLink {
    border-top: solid var(--setBG) 0.3vw;
    background-color: RGBA(255, 255, 255, 0);
    color: var(--accentColor);
}
.footerLinkL {
    border: solid RGBA(255, 255, 255, 0) 0.3vw;
    border-radius: 8vw 5vw 5vw 8vw;
}
.footerLinkR {
    border: solid RGBA(255, 255, 255, 0) 0.3vw;
    border-radius: 5vw 8vw 8vw 5vw;
}
.selectedPage {
    /*color: var(--primaryColor);*/
}
select {
  display: inline-block;
}
#selectText {
  display: inline-block;
  margin-top: 0px;
  text-align: center;
}
#selectTextFilt {
  display: inline-block;
  margin-top: 0px;
  text-align: center;
  width: 100%;
}
#cameraContent {
    /* box-shadow: 0px 0px var(--boxShadowV1) var(--boxShadowV2) var(--shadowColor); */
    margin: 1vw;
    margin-bottom: 0vw;
    overflow: hidden;
    /* border: solid 0.3vw var(--postBorder); */
    /* border-bottom: solid 0.3vw var(--postBorder); */
    background-color: var(--postBG);
    box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);
    border-radius: 4vw;
    padding: 2vw;
    max-height: 91.4vw;
    padding-bottom: 0vw;
    overflow: hidden;
    border-bottom: solid 2vw var(--postBG);
}
#player {
    display: block;
    border-radius: 4vw;
}
#capture {
    font-size: 25vw;
}
#upload {
    font-size: 20vw;
    padding-right: 15vw;
}
#download {
    /*font-size: 14vw;*/
    display: none;
}
.icon {
    font-size: 13vw;
}
#takeButtons {
    text-align: center;
}
#uploadButtons {
    text-align: center;
}
.capLeft {
    width: 70%; 
    display: inline-block;
    text-align: left;
}
.capRight {
     width: 29%;
    display: inline-block;
    text-align: right;
}
.fa-heart {
    padding-right: 1.5vw;
}
#locationSpan {
    padding-right: 1.5vw;
}
#sortDiv {
    display: none;
}
.thirds {
    width: 30%;
    display: inline-block;
    text-align: center;
}
.loader {
    border: 2vw solid var(--optionsContrastColor);
    border-radius: 50vw;
    border-top: 2vw solid var(--accentColor);
    width: 10vw;
    height: 10vw;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overlay {
    position: absolute;
    top: 28%;
    left: 43.5%;
    z-index: 19000;
    margin: auto;
}
.overlayFeed {
    position: absolute;
    /* top: 28%; */
    /* left: 43.5%; */
    z-index: 19000;
    margin: auto;
    /* margin-left: 40%; */
    /* margin-top: 40%; */
    /* width: 22vw; */
    /* height: 2vw; */
    width: 10%;
    height:auto;
}
img {
    /* background-color: var(--postBG); */
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 4vw;
    /* border: var(--postBG) solid 0.3vw; */
    /* padding: 0.3vw; */
    /* margin-top: -0.3vw; */
    /* margin-left: -0.3vw; */
    /* border-bottom: solid var(--postBorder) 0.3vw; */
    /* padding: 1vw; */
    /* padding-bottom: 0vw; */
    min-height: 92vw;
    background-size: 1080px 1080px;
}
#header {
    padding-top: 20%;
    margin-top: -20%;
    z-index: 20000;
    box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);
    padding-bottom: 1%;
    padding-top: 21%;
}
.headerDiv {
    display: inline-block;
}
#headerDivMain {
    width: 69%;
    margin-left: 0%;
}
#zoomIcon {
    font-size: 10vw;
    margin-left: 15%;
}
#leftIcon {
    width: 12%;
    padding-left: 3%;
}
#rightIcon {
    width: 12%;
}
.headerIcon {
    font-size: 4.5vw;
}
#mileRange {
    width: 80%;
    margin-left: 10%;
    margin-top: 3vw;
}
#zoomRange {
    width: 95%;
    background-color: var(--primaryColor);
    margin-left: 2.5%;
}
#playerHolder {
    width: 100%;
    min-height: 89vw;
}
#filtersDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#selectDiv {
    text-align: center;
}
#filterContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#filterTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor) 0.3vw;
}
#flagDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#flagEmail {
    text-align: center;
}
#flagContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#flagContent p {
    font-size: 4.5vw;
    color: var(--accentColor);
}
#flagContent button {
    font-size: 3.5vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#flagContent select {
    font-size: 3vw;
    width: 40vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
    margin-top: 3vw;
}
#flagContent input {
    font-size: 3.5vw;
    width: 48vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
    text-align: center;
}
input {
    border-radius: 6vw;
    padding-left: 2%;
}
#deleteContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#deleteContent p {
    font-size: 4.5vw;
    color: var(--accentColor);
    text-align: center;
}
#deleteContent button {
    font-size: 3.5vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#deleteContent select {
    font-size: 3vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#deleteContent input {
    font-size: 3.5vw;
    width: 35vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
    text-align: left;
}
#deletePostText {
    margin-bottom: 0px;
}
#flagTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor) 0.3vw;
}
#settingsTitle {
    display: inline;
    /*padding-right: 60vw;*/
    font-size: 5vw;
}
#zoomSettingsTitle {
    display: inline;
    /*margin-right: 49%;*/
    font-size: 5vw;
}
#flagTitle {
    display: inline;
    /*padding-right: 66%;*/
    font-size: 5vw;
}
#xButton {
    text-align: right;
    display: inline;
    font-size: 6vw;
}
#filterContent p {
    font-size: 4vw;
    margin-bottom: 0px;
}
#guidelinesDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#guidelinesContent {
    width: 92%;
    margin-left: 4%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#guidelinesTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor) 0.3vw;
}
#guidelinesTitle {
    display: inline;
    /*padding-right: 64%;*/
}
#guidelinesContent p {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0px;
}
#guidelinesContent a {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0px;
}
#guidlinesList {
    padding-left: 5vw;
    /*width: 88%;*/
}
#aboutDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#aboutTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid 0.3vw var(--accentColor);
}
#welcomeDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#welcomeContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
    text-align: center;
    font-size: 4.5vw;
}
#welcomeTitleDiv {
    padding-left: 2%;
    border-bottom: solid var(--accentColor) 0.3vw;
    max-width: 100%;
    overflow: hidden;
    width: 96%;
    padding-right: 2%;
}
#loginDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#loginContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#loginTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor) 0.3vw;
}
#aboutTitle {
    display: inline;
    /*padding-right: 77%;*/
    font-size: 5vw;
}
#welcomeBody {
    margin: 0px 0px 0px 0px;
}
#welcomeTitle {
    display: inline;
    /*padding-right: 27%;*/
    font-size: 5vw;
}
#loginTitle {
    display: inline;
    /*padding-right: 71%;*/
    font-size: 5vw;
}
#aboutContent p {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
#loginDiv p {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.loginButton {
    text-decoration: underline;
}
#loginDiv input {
    width: 50%;
    font-size: 4vw;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
}
#blockDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#blockEmail {
    text-align: center;
}
#blockContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#blockContent p {
    font-size: 4.5vw;
    color: var(--accentColor);
    text-align: center;
}
#blockContent button {
    font-size: 3.5vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#blockContent select {
    font-size: 3vw;
    width: 40vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#blockContent input {
    font-size: 3.5vw;
    width: 48vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
    text-align: center;
}
#blockTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor) 0.3vw;
}
#blockTitle {
    display: inline;
    /*padding-right: 62%;*/
    font-size: 5vw;
}
#selectblockText {
    text-align: center;
}
.fieldButton {
    font-size: 4vw;
    width: 50%;
    margin-left: 25%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
}
.accountButtons {
    font-size: 3.5vw;
    width: 50%;
    margin-left: 25%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    /* height: 2em; */
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 0px;
    padding-right: 0px;
}
.editAccountButtons {
    color: var(--accentColor);
    background-color: var(--primaryColor);
border: solid var(--accentColor) 0.3vw;
    width: 40%;
    margin-left: 30%;
    font-size: 3vw;
}
#welcomeButton {
    font-size: 4vw;
    width: 50%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
}
.buttonLeft {
    font-size: 4vw;
    width: 40%;
    margin-left: 9%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
}
.buttonRight {
    font-size: 4vw;
    width: 40%;
    margin-left: 2.5%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
}
#sort {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    font-size: 4vw;
}
#sortFilt {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    font-size: 4vw;
}
option:hover {
    color: var(--primaryColor);
    background-color: var(--accentColor);
    border: solid var(--primaryColor) 0.3vw;
    font-size: 4vw;
}
option {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    font-size: 4vw;
}
#milesDisplay {
    font-size: 4vw;
}
#mileRange {
    background-color: var(--primaryColor);
}
input[type="range"] {
  --thumbSize: 7vw;
  --trackSize: 2.5vw;
  --thumbBg: var(--primaryColor);
  --trackBg: var(--optionsContrastColor);
  --progressBg: var(--accentColor);

  /* webkit progress workaround */
  --webkitProgressPercent: 0%;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* height: var(--thumbSize); */
  width: 100%;
  margin: 0;
  padding: 0;
}
input[type="range"]:focus {
  outline: none;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: 1vw solid var(--accentColor);
  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: 2vw solid var(--accentColor);
  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--thumbBg);
  border-radius: calc(var(--thumbSize) / 2);
  border: 2vw solid var(--accentColor);
  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.2);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  height: var(--trackSize);
  background-image: linear-gradient(
    90deg,
    var(--progressBg) var(--webkitProgressPercent),
    var(--trackBg) var(--webkitProgressPercent)
  );
  border-radius: calc(var(--trackSize) / 2);
}
input[type="range"]::-moz-range-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}
input[type="range"]::-ms-track {
  height: var(--trackSize);
  background-color: var(--trackBg);
  border-radius: calc(var(--trackSize) / 2);
}

/* Progress */
input[type="range"]::-moz-range-progress {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
input[type="range"]::-ms-fill-lower {
  height: var(--trackSize);
  background-color: var(--progressBg);
  border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
.date {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    font-size: 2.5vw;
    width: 33%;
    border: var(--accentColor) solid 0.3vw;
}
.dateSelect {
    display: inline;
    width: 20vw;
}
.contentText {
    text-align: center;
}
#guidelineFooterText {
    text-align: center;
    width: 55%;
    margin: auto;
    margin-top: 5vw;
    font-size: 3.5vw;
}
.flagButtons {
    width: 30%;
    margin-left: 13.3333333333%;
}
#blockButton {
    width: 50%;
    margin-left: 25%;
}
#email {
    width: 50%;
}
#cancelFlag {
    /* padding-bottom: 1vw; */
}
#flag {
    /*padding-top: 2.5vw; */
}
#selectFlagText {
    text-align: center;
    margin-top: 0px;
}
#forgotPassLink {
    text-decoration: underline;
}
#unameNew {
    width: 47% !important;
}
#postUser {
    text-align: right;
}
    #item {
      --scale-value: 1;

      width: 20vw;
      height: 20vw;
      background-color: var(--primaryColor);
      border: 2vw solid var(--accentColor);
      border-radius: 50%;
      transform: scale3d(var(--scale-value), var(--scale-value), 1);
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
    }
    #item:active {
      border-color: var(--accentColor);
      background-color: grey;
    }
    #item:hover {
      cursor: pointer;
    }
#cancelDelete {
    margin-top: 6vw;
}
#deleteSlider {
    width: 100% !important;
    border: none !important;
}
#origin {
    font-size: 1vw;
}
.userText {
    background-color: var(--postBG);
    /* box-shadow: 2vw -2vw 0.2vw 2.1vw var(--userTextShadow); */
    font-size: 3.5vw;
    position: absolute;
    border-left: solid var(--postBG) 0.3vw;
    border-bottom: solid var(--postBG) 0.3vw;
    border-right: solid var(--postBG) 0.3vw;
    border-top: solid var(--postBG) 1vw;
    padding-left: 1.5vw;
    /* margin-left: 0.6vw; */
    padding-top: 0.5vw;
    margin-top: 0vw;
    border-radius: 0vw 3vw 0vw 3vw;
    /* float: right; */
    /* text-align: right; */
    right: 2.4%;
    padding-right: 1.8vw;
    /* box-shadow: -1vw 1vw 1vw 1vw var(--primaryColorFifty); */
    /* -webkit-font-smoothing: antialiased; */
    /* background-color: var(--primaryColorFifty); */
    color: var(--postText);
    padding-bottom: 0.5vw;
    z-index: 2;
    /* text-shadow: 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor), 1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor),1px 0 0 var(--outlineColor), 0 -1px 0 var(--outlineColor), 0 1px 0 var(--outlineColor), -1px 0 0 var(--outlineColor); */
}
.mainProfileP {
    padding: 0px;
    margin: 0px;
}
.mainUserIcon {
    font-size: 8vw;
}
#mainProfileDisplayMy {
    position: fixed;
    width: 99%;
    padding-top: 1vw;
    background-color: var(--primaryColor);
    z-index: 19999;
    border-bottom: solid var(--accentColor) 0.3vw;
    margin-left: -2vw;
    text-align: center;
    font-size: 4vw;
    margin: 0px 0px 0px 0px;
    margin-top: -2vw;
    line-height: 7vw;
    margin-left: -3vw;
    padding-left: 1.5%;
    box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);
    padding-right: 0%;
    padding-top: 0%;
}
#ProfileDisplay2My {
    /*position: fixed;*/
    width: 99%;
    padding-top: 1vw;
    background-color: var(--primaryColor);
    color: var(--primaryColor);
    z-index: 19999;
    border-bottom: solid var(--primaryColor) 0.3vw;
    margin-left: -2vw;
    text-align: center;
    font-size: 4vw;
    margin: 0px 0px 0px 0px;
    margin-top: -2vw;
    line-height: 7vw;
    margin-left: -3vw;
    padding-left: 3%;
    /*box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);*/
    padding-right: 0%;
    padding-top: 0%;
}
#closeButton2My {
    color: var(--primaryColor);
}
#profileDisplayMy {
    display: none;
    margin-bottom: 0vw;
    margin-top: -3vw;
}
#closeButtonMy {
    position: fixed;
    margin-left: 3vw;
    font-size: 8vw;
    margin-top: -2vw;
}
#closeButton2My {
    position: fixed;
    margin-left: 3vw;
    font-size: 8vw;
    margin-top: -2vw;
}
#userNameProfileMy {
    font-size: 5vw;
}
#userNameProfile2My {
    font-size: 5vw;
}
#mainProfileDisplay {
    position: fixed;
    width: 99%;
    padding-top: 1vw;
    background-color: var(--primaryColor);
    z-index: 19999;
    border-bottom: solid var(--accentColor) 0.3vw;
    margin-left: -2vw;
    text-align: center;
    font-size: 4vw;
    margin: 0px 0px 0px 0px;
    margin-top: -2vw;
    line-height: 7vw;
    margin-left: -3vw;
    padding-left: 1.5%;
    box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);
    padding-right: 0%;
    padding-top: 0%;
}
#ProfileDisplay2 {
    /*position: fixed;*/
    width: 99%;
    padding-top: 1vw;
    background-color: var(--primaryColor);
    color: var(--primaryColor);
    z-index: 19999;
    border-bottom: solid var(--primaryColor) 0.3vw;
    margin-left: -2vw;
    text-align: center;
    font-size: 4vw;
    margin: 0px 0px 0px 0px;
    margin-top: -2vw;
    line-height: 7vw;
    margin-left: -3vw;
    padding-left: 3%;
    /*box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);*/
    padding-right: 0%;
    padding-top: 0%;
}
#closeButton2 {
    color: var(--primaryColor);
}
#profileDisplay {
    display: none;
    margin-bottom: 0vw;
    margin-top: -3vw;
}
#closeButton {
    position: fixed;
    margin-left: 3vw;
    font-size: 8vw;
    margin-top: -2vw;
}
#closeButton2 {
    position: fixed;
    margin-left: 3vw;
    font-size: 8vw;
    margin-top: -2vw;
}
#userNameProfile {
    font-size: 5vw;
}
#userNameProfile2 {
    font-size: 5vw;
}
.profileButtons {
    font-size: 3vw;
    width: 24%;
    /* margin-left: 25%; */
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
}
.profileButtons2 {
    font-size: 3vw;
    width: 24%;
    /* margin-left: 25%; */
    color: var(--primaryColor);
    background-color: var(--primaryColor);
    border: solid var(--primaryColor) 0.3vw;
}
#listOfBlocked {
    border: solid var(--accentColor) 0.3vw;   
    width: 75%;
    margin-left: 12.5%;
    border-radius: 5vw;
}

#listOfFollowed {
    border: solid var(--accentColor) 0.3vw;
    width: 75%;
    margin-left: 12.5%;
    max-height: 30vw;
    overflow: auto;
    border-radius: 5vw;
}
.undoButtons {
    font-size: 4vw;
    width: 24vw;
    margin-left: 2%;
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    text-align: center;
}
#sortFilt {
    max-width: 30vw;
}
.followP {
    margin-top: 0.5em !important;
}
#timerButton {
    font-size: 10vw;
}
#flashButton {
    margin-left: 15.5%;
    font-size: 10vw;
    top: 3vw;
    position: relative;
}
#extraButtons {
    margin-top: 5vw;
}
#takingTextWords {
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 9vw;
}
#userIcon {
    margin-left: 20%;
}
.slidecontainer p {
    text-align: center;
}
#dateSelectMainP {
    margin-left: 5vw;
}
#xButton {
    float:right;
}
.fa-xmark {
    float:right;
}
.center {
    text-align: center;
}
#changeVisText {
    margin-top: 0px;
}
#editPostVisText {
    font-size: 3.5vw;
    margin-top: 0px;
}
select {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    font-size: 4vw;
    border-radius: 6vw;
}
#editPostVisSelectCam {
    width: 30vw;
    margin-left: 1vw;
    font-size: 3.5vw;
    text-align: center;
}
#editPostVisSelect {
    width: 32vw;
}
#editPostVisTextCam {
    font-size: 4vw;
    margin-top: 0px;
}
#deletePostTextDesc {
    margin-top: 0px;
    font-size: 4vw !important;
}
#offsetDiv {
    background-color: var(--feedColor);
}
.postContainer {
    /* box-shadow: 0px 0px var(--boxShadowV1) var(--boxShadowV2) var(--shadowColor); */
    margin-bottom: 6vw;
    border-radius: 4vw;
    overflow: hidden;
    border: solid 0.3vw var(--postBG);
    /*border-bottom: solid 0.3vw var(--postBorder);*/
    background-color: var(--postBG);
    box-shadow: 0px 0px 1.5vw 0.1vw var(--shadowColor);
}
.fourVW {
    font-size: 4vw !important;
}
#canvas {
    border-radius: 4vw;
}
#content {
    background-color: var(--feedColor);
}
#colorMode {
    margin-left: 14%;
    display: none;
}
#zoomContentDiv {
    width: 85%;
    margin-top: 1%;
    margin-left: 7.5%;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#feed {
    padding: 0vw;
}
#back {
    text-align: right;
    font-size:12vw;
}
#downloadDiv {
    text-align: left;
    font-size:12vw;
}
#uploadDiv {
    width: 100%;
}
h2 {
    font-size: 5vw;
}
#reset {
    padding-right: 5%;
}
.commentsBttn {
    text-align: center;
    margin-top: 1vw !important;
    color: var(--accentColor);
    font-size: 3vw;
    width: 4%;
    margin-left: 3%;
    /* border: solid 0.2vw var(--accentColor); */
    border-radius: 6vw;
    display: inline-block;
    font-size: 4vw;
    background-color: var(--postBG);
}
.commentsBox {
    box-shadow: inset 0px 0px 1.5vw 0.1vw var(--shadowColor);
    padding: 2vw;
    border-radius: 3vw;
    margin-bottom: -4vw;
    margin-top: 2vw;
    max-height: 40vw;
    overflow-x: hidden;
    overflow-y: auto;
}
.commentInput {
    font-size: 4vw;
    width: 87%;
    padding: 0.5vw;
    padding-left: 2%;
}
#flagCommDiv {
    position: fixed;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    width: 80%;
    margin-top: 1%;
    margin-left: 7.5%;
    z-index: 20000;
}
#flagCommEmail {
    text-align: center;
}
#flagCommContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#flagCommContent p {
    font-size: 4.5vw;
    color: var(--accentColor);
}
#flagCommContent button {
    font-size: 3.5vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#flagCommContent select {
    font-size: 3vw;
    width: 40vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
    margin-top: 3vw;
}
#flagCommContent input {
    font-size: 3.5vw;
    width: 48vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
    text-align: center;
}
#deleteCommContent {
    width: 90%;
    margin-left: 5%;
    margin-top: 5vw;
    padding-bottom: 5vw;
    max-height: 58vh;
    overflow: auto;
}
#deleteCommContent p {
    font-size: 4.5vw;
    color: var(--accentColor);
    text-align: center;
    margin-top: 0px;
}
.commentText {
    /*color: #242424;*/
}
#deleteCommContent button {
    font-size: 3.5vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#deleteCommContent select {
    font-size: 3vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
}
#deleteCommContent input {
    font-size: 3.5vw;
    width: 35vw;
    background-color: var(--primaryColor);
    border: solid var(--accentColor) 0.3vw;
    color: var(--accentColor);
    text-align: left;
}
#deleteCommPostText {
    margin-bottom: 0px;
}
#flagCommTitleDiv {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid var(--accentColor) 0.3vw;
}
#flagCommTitle {
    display: inline;
    /*padding-right: 66%;*/
    font-size: 5vw;
}
#selectFlagCommText {
    text-align: center;
    margin-top: 0px;
}
#deleteCommText {
    margin-top: 0px;
}
.commentArea {
    margin-top: 1vw;
    overflow: hidden;
}
.showComments {
    text-align: center;
    margin-top: 3vw !important;
    color: var(--accentColor);
    font-size: 3vw;
    width: 50%;
    margin-left: 25%;
    border: solid 0.2vw var(--accentColor);
    border-radius: 6vw;
    display: inline-block;
    font-size: 3.5vw;
    background-color: var(--postBG);
}
.commentLeft {
    display: inline-block;
    width: 90%;
    overflow: auto;
}
.commentRight {
    display: inline-block;
    width: 10%;
    padding-bottom: 1%;
}
.commentBttnDel {
    float: right;
    font-size: 3vw !important;
    /*color: #242424;*/
}
.commentsBox p {
    font-size: 4vw;
}
.commentsBox i {
    font-size: 4vw;
}
.spacerComments {
    height: 2vw;
}
.imageWrapper {
    padding: 1.3vw;
}

/*!
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */
@charset "UTF-8";
/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.25vw;
    background-color: var(--loadColor);
    color: var(--overlayContrast);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    margin-left: 45%;
    margin-top: 48%;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -3.75vw;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 1.25vw;
    background-color: var(--loadColor);
    color: var(--overlayContrast);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 3.75vw;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 1.25vw;
    background-color: var(--loadColor);
    color: var(--overlayContrast);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: var(--loadColor);
  }
  50%, 100% {
    background-color: rgba(255, 255, 255, 1);
  }
}

#agreeTerms {
    width: auto !important;
}
#whiteCover {
    color: white;
    background-color: white;
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    z-index: 1000000000;
}